@font-face {
  font-family: 'icong';
  src: url('https://dl.dropboxusercontent.com/scl/fi/n63oq924b2v4pw479vfbr/icong.eot?rlkey=ujpznk13yt7do534nsjswhpah&st=sqgxpwnf&dl=0') format('embedded-opentype'),
       url('https://dl.dropboxusercontent.com/scl/fi/bq6nz087nbgk4ueq4bv9e/icong.woff2?rlkey=28evj5vrb54290tmzra8e775s&st=68febygo&dl=0') format('woff2'),
       url('https://dl.dropboxusercontent.com/scl/fi/uk7lbcait9tmucmj6rj8g/icong.woff?rlkey=bsxw6433efmybsl1x7j027irx&st=pflqggsn&dl=0') format('woff'),
       url('https://dl.dropboxusercontent.com/scl/fi/8octqepb3v0cczwoj0zim/icong.ttf?rlkey=ku9elawf2fpm7xa1dkegp08rt&st=evf06f7i&dl=0') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icong';
    src: url('../font/icong.svg?49988850#icong') format('svg');
  }
}
*/
[class^="icong-"]:before, [class*=" icong-"]:before {
  font-family: "icong";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icong-barbed-sun:before { content: '\e800'; } /* '' */
.icong-bayonet:before { content: '\e801'; } /* '' */
.icong-bleeding-heart:before { content: '\e802'; } /* '' */
.icong-brass-knuckles:before { content: '\e803'; } /* '' */
.icong-eclipse-flare:before { content: '\e804'; } /* '' */
.icong-glass-heart:before { content: '\e805'; } /* '' */
.icong-pirate-flag:before { content: '\e806'; } /* '' */
.icong-pistol-gun:before { content: '\e807'; } /* '' */
.icong-scythe:before { content: '\e808'; } /* '' */
.icong-ship-wheel:before { content: '\e809'; } /* '' */
.icong-spectre:before { content: '\e80a'; } /* '' */
.icong-spiky-eclipse:before { content: '\e80b'; } /* '' */
.icong-transfuse:before { content: '\e80c'; } /* '' */
.icong-wolf-howl:before { content: '\e80d'; } /* '' */
