/*

Code by @ashencovenant
Site: https://ashencovenant.tumblr.com/
Support me: https://ko-fi.com/ashencovenant

*/

/*CODE BASE*/
.ac-pt01-body {
    width: 700px;
    height: 600px;
    margin: 0px auto 10px;
    position: relative;
    text-align: justify;
    background: var(--pm01-c0);
    overflow: hidden;
}

.ac-pt01-deco {
    background: url(https://i.ibb.co/rKvWWfQt/flowes.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -369px;
}

.ac-pt01-header {
    width: 460px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.ac-pt01-titu {
    font: 60px Young Best;
    color: var(--pm01-c2);
    margin-top: 30px;
}

.ac-pt01-txt {
    width: 80%;
    height: 400px;
    overflow: auto;
    padding-right: 10px;
    box-sizing: border-box;
    font: 14px Georgia;
}

.ac-pt01-txt::-webkit-scrollbar {
  width: 6px;
}
.ac-pt01-txt::-webkit-scrollbar-track {
  background: transparent;
}
.ac-pt01-txt::-webkit-scrollbar-thumb {
  background: var(--pm01-c2) !important;
}

.ac-pt01-body::selection {
  background-color: var(--pm01-c2);
  color: var(--pm01-c0);
}

.ac-pt01-creditos {
    width: 700px;
    margin: 0px auto;
    text-align: right;
}
.ac-pt01-ashc {
    font: 10px Calibri;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-decoration: none;
}
