/*
Code by @ashencovenant
Uploaded: 15/04/2025

Do not copy or use as a base.
Do not remove credits.

Site: https://ashencovenant.tumblr.com/
Support me: https://ko-fi.com/ashencovenant
*/

#ashncodes {
    display: flex;
    justify-content: center;
    align-items: center;
}

#ashncodes .blackspace-m2 {
    width: 600px;
    min-height: 300px;
    background: #101010;
    color: #fff;
    border: 1px solid #2d2d2d;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px 0px;
    position: relative;
}
#ashncodes .blackspace-m2 .bksp-img-m2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #2d2d2d;
  border-bottom: 1px solid #2d2d2d;
}
#ashncodes .blackspace-m2 .bksp-img1-m2 {
  width: 300px;
  height: 300px;
  background-size: cover !important;
}
#ashncodes .blackspace-m2 .bksp-img2-m2 {
  width: 300px;
  height: 300px;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#ashncodes .blackspace-m2 .bksp-img2-m2 lm {
  font: 50px Wild Ones;
  position: relative;
  z-index: 2
}
#ashncodes .blackspace-m2 .bksp-img2-m2 lmi {
  font: 8px Tahoma;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 3px;
  margin-top: -10px;
  position: relative;
  z-index: 2
}

#ashncodes .blackspace-m2 .bksp-img2-m2 lic {
  font-size: 200px;
  position: absolute;
  z-index: 1;
}

#ashncodes .blackspace-m2 .bksp-txt {
  font: 13px Calibri;
  text-align: justify;
  width: 80%;
  margin-top: 50px;
}

#ashncodes a.accred {
  font: 9px Calibri;
  text-transform: uppercase;
  color: #a9a9a9;
  position: absolute;
  bottom: -20px;
  left: 0px;
  text-decoration: none;
}
